@model IEnumerable<ProjetParking.Models.UserParking>

@{
    ViewBag.Title = "Profil";
}

<h2>Profil</h2>

<h2>Historique</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ParkingName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParkDate)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ParkingName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParkDate)
        </td>
    </tr>
}

</table>
